PyMuPDF
matplotlib
numpy
pandas
Requests
sentence_transformers
spacy
tqdm
transformers
bitsandbytes
wheel
qdrant-client
ragas
rouge-score
sacrebleu
datasets
llama-index
openpyxl
ollama
langchain_ollama
rouge_score
# flash-attn